extends ../layout
block content
    h1.title Nuevo Usuario
    if error
        h2= error
    form.formulario(action="/registro", method="post")
        .form-group
            label(for="nombre") Introduce tu nombre
            input(type="text", name="nombre", id="nombre", value=user.nombre, class="input-field")
        .form-group
            label(for="email") Introduce tu correo electronico
            input(type="text", name="email", id="email", value=user.mail, class="input-field")
        .form-group
            label(for="fechaNacimiento") Fecha de Nacimiento
            input(type="date", name="fechaNacimiento", id="fechaNacimiento", value=user.fechaNacimiento, class="input-field")
        .form-group
            label(for="password") Contraseña
            div(class="password-field")
                input(type="password", name="password", id="password", value=user.pass, class="input-field")
                span(id="togglePassword" class="toggle-password") 👁️
        .form-group
            label(for="confirmPassword") Confirmar Contraseña
            input(type="password", name="confirmPassword", id="confirmPassword", class="input-field")
        .form-group
            label(for="estacionPref") ¿En que estación del año te gustaria viajar? (Selecciona una lo puedes cambiar en cualquier momento)
            select(name="estacionPref", id="estacionPref", class="input-field")
                option(value="invierno") Invierno
                option(value="primavera") Primavera
                option(value="verano") Verano
                option(value="otonio") Otoño

        .form-group
            label(for="categorias") Categorías Favoritas
                div
                    input(type="checkbox", name="categoria", value="atracciones") 
                    | Atracciones Turísticas
                div
                    input(type="checkbox", name="categoria", value="barrios") 
                    | Barrios de Nueva York
                div
                    input(type="checkbox", name="categoria", value="gastronomia") 
                    | Gastronomía Local
                div
                    input(type="checkbox", name="categoria", value="eventos") 
                    | Eventos Especiales
        .form-group
            input(type="submit", value="Crear", class="btn-primary")
            button(class="btn-secondary")
                a(href='/login') Cancelar
        script(type="module", src="/js/newuser.js")