extends ../layout

block content 
    h1.title Editar Entrada del Blog
    if error 
        h2= error
    form.formulario(action=`/blog/${entry._id}`, method="post", enctype='multipart/form-data')
        .form-group
            label(for="titulo") Título:
            input(type="text", name="titulo", id="titulo", value=entry.titulo)
        .form-group  
            label(for="contenido") Contenido:
            textarea(name="contenido", id="contenido")= entry.contenido
        .form-group
            label(for="categorias") Categoria*
                div
                    input(type="checkbox", name="categoria", value="atracciones") 
                    | Atracciones Turísticas
                div
                    input(type="checkbox", name="categoria", value="barrios") 
                    | Barrios de Nueva York
                div
                    input(type="checkbox", name="categoria", value="gastronomia") 
                    | Gastronomía Local
                div
                    input(type="checkbox", name="categoria", value="eventos") 
                    | Eventos Especiales
        .form-group
            label(for="categoriaMes") ¿En que estación del año te gustaria viajar? (Selecciona una lo puedes cambiar en cualquier momento)
            select(name="categoriaMes", id="categoriaMes", class="input-field")
                option(value="invierno") Invierno
                option(value="primavera") Primavera
                option(value="verano") Verano
                option(value="otonio") Otoño
        .form-group
            label(for="fotoSubir") Foto:
            input(type="file", name="fotoSubir", id="fotoSubir", class="input-field")
            if entry.foto != null
                img(id="blogPhoto", src=entry.foto, alt="Foto de la entrada del blog")
        .form-group
            label(for="autor") Autor:
            input(type="text", name="autor", id="autor", value=entry.autor)
        .form-group
            input(type="submit", value="Guardar") 
            button
                a(href='/blog') Cancelar
